<h2 class="my-5 text-center" appTitles20>Cursos</h2>
<div class="bef bef-bg-mystic bef-p-1rem w-100 d-flex justify-content-between">
  <h3 class="text-light my-0">Cursos</h3>
  <mat-form-field>
    <mat-label class="text-light">Buscar</mat-label>
    <input
      type="text"
      class="form-control bg-light"
      (keyup)="filter($event)"
      matInput
    />
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="w-100">
  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef class="text-center">Título</th>
    <td mat-cell *matCellDef="let element" class="text-center">
      {{ element.title }}
    </td>
  </ng-container>

  <!-- Students Column -->
  <ng-container matColumnDef="students">
    <th mat-header-cell *matHeaderCellDef class="text-center">Students</th>
    <td mat-cell *matCellDef="let element" class="text-center">
      <ng-container
        *ngIf="
          !identity ||
            !identity.role ||
            (identity.role !== 'admin' && identity.role !== 'profesor');
          else elseListStudentsTemplate
        "
      >
        {{ element.students.length }}
      </ng-container>
      <ng-template #elseListStudentsTemplate>
        <ul class="list-group list-group-flush">
          <li
            class="list-group-item bg-transparent"
            *ngFor="let student of element.students"
          >
            <span *ngIf="student.name">
              {{ student | nameParser }}
            </span>
          </li>
        </ul>
      </ng-template>
    </td>
  </ng-container>

  <!-- Profesor Column -->
  <ng-container matColumnDef="profesor">
    <th mat-header-cell *matHeaderCellDef class="text-center">Profesor</th>
    <td mat-cell *matCellDef="let element" class="text-center">
      <span *ngIf="element.profesor && element.profesor.name">
        {{ element.profesor.name }}
      </span>
    </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="text-center">Acciones</th>
    <td mat-cell *matCellDef="let element" class="text-center">
      <button
        mat-icon-button
        (click)="openModal(templateActionEdit, element)"
        [disabled]="
          !identity ||
          !identity.role ||
          (identity.role !== 'admin' && identity.role !== 'profesor')
        "
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="delete(element)"
        [disabled]="
          !identity ||
          !identity.role ||
          (identity.role !== 'admin' && identity.role !== 'profesor')
        "
      >
        <mat-icon>delete</mat-icon>
      </button>
      <a
        href="/course/id/{{ element.id }}"
        [routerLink]="['/course/id/' + element.id]"
        mat-icon-button
      >
        <mat-icon>preview</mat-icon>
      </a>
      <ng-container *ngIf="identity && (identity.id || identity.id >= 0)">
        <ng-container
          *ngIf="!hasItStudent(identity, element); else elseInscriptionTemplate"
        >
          <button
            mat-icon-button
            (click)="addStudent({ user: identity, course: element })"
          >
            <mat-icon>person_add</mat-icon>
          </button>
        </ng-container>
        <ng-template #elseInscriptionTemplate>
          <button
            mat-icon-button
            (click)="removeStudent({ user: identity, course: element })"
          >
            <mat-icon>person_remove</mat-icon>
          </button>
        </ng-template>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
<div class="bef bef-bg-mystic bef-p-1rem bef-h-2rem w-100 d-flex justify-content-between">
</div>
<a
  class="d-block btn bef bef-btnOutline-mystic my-3 mx-auto bef-textHover-lavender bef-w-12rem"
  href="/course"
  [routerLink]="['/course']"
  data-bs-dismiss="offcanvas"
  aria-label="Close"
  *ngIf="identity && identity.role && identity.role === 'admin'"
  [exist]="identity && identity.role && identity.role === 'admin'"
  (ngInit)="cssCreate()"
>
  Crear nuevo curso
</a>

<ng-template #templateActionEdit>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      Editando a {{ editCourseForm.get("name")?.value }}
    </h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide(); clearForm()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
      [formGroup]="editCourseForm"
      class="d-block w-50 bef bef-pb-4rem bef-pt-1rem mx-auto"
      (ngSubmit)="edit()"
    >
      <!-- Title -->
      <div class="my-3">
        <label class="h4">Title</label>
        <input
          class="form-control bg-transparent"
          type="text"
          formControlName="title"
          required
        />
        <p
          class="bef bef-text-blood fw-bold"
          *ngIf="editCourseForm.get('title')?.touched && editCourseForm.get('title')?.errors?.['required']"
          [exist]="editCourseForm.get('title')?.errors?.['required']"
          (ngInit)="cssCreate()"
        >
          (El título no puede quedar vacío)
        </p>
      </div>
      <!-- Students List -->
      <div>
        <h4>Students</h4>
        <ul class="list-group list-group-flush">
          <li
            class="list-group-item bg-transparent"
            *ngFor="
              let student of editCourseForm.get('students')?.getRawValue()
            "
          >
            {{ student.name }}
          </li>
        </ul>
      </div>
      <!-- Add Student -->
      <div class="my-3">
        <label class="h4">Add Student</label>
        <select
          class="form-select"
          formControlName="user2Add"
          aria-label="Student to add select"
        >
          <ng-container *ngFor="let user of users">
            <option
              *ngIf="!hasItStudent(user)"
              [ngValue]="user"
              value="{{ user }}"
            >
              {{ user.name }}
            </option>
          </ng-container>
        </select>
        <button
          class="btn btn-dark text-light d-block mx-auto mt-2"
          (click)="addStudent()"
        >
          Add Student
        </button>
      </div>
      <!-- Remove Student -->
      <div
        class="my-3"
        *ngIf="
          editCourseForm.get('students')?.getRawValue() &&
          editCourseForm.get('students')?.getRawValue()[0]
        "
      >
        <label class="h4">Remove Student</label>
        <select
          class="form-select"
          formControlName="user2Remove"
          aria-label="Student to remove select"
        >
          <ng-container
            *ngFor="let user of editCourseForm.get('students')?.getRawValue()"
          >
            <option
              *ngIf="hasItStudent(user)"
              [ngValue]="user"
              value="{{ user }}"
            >
              {{ user.name }}
            </option>
          </ng-container>
        </select>
        <button
          class="btn btn-dark text-light d-block mx-auto mt-2"
          (click)="removeStudent()"
        >
          Remove Student
        </button>
      </div>
      <!-- Profesor -->
      <div class="my-3">
        <label class="h4">Profesor</label>
        <select
          class="form-select"
          formControlName="profesor"
          aria-label="Profesor select"
        >
          <ng-container *ngFor="let user of users">
            <option
              *ngIf="user.role === 'profesor'"
              [ngValue]="user"
              value="{{ user }}"
            >
              {{ user.name }}
            </option>
          </ng-container>
        </select>
      </div>
      <!-- Send -->
      <button
        type="submit"
        class="btn bef bef-btn-mystic bef-text-lavender mx-auto d-block my-3"
      >
        Enviar
      </button>
    </form>
  </div>
</ng-template>
