<ng-container
  *ngIf="user.id >= 0 && isEdit === false; else elseUserExistTemplate"
>
  <h2 class="text-center my-3" *ngIf="user && user.id >= 0" appTitles20>
    {{ user | nameParser }}
  </h2>
  <h3 class="text-center h6">{{ user.email }}</h3>

  <ng-container *ngIf="access === 'admin' || access === 'profesor'">
    <h4>{{ "Role: " + user.role }}</h4>
  </ng-container>

  <ng-container *ngIf="ELEMENT_DATA && ELEMENT_DATA.length > 0">
    <div
      class="bef bef-bg-mystic bef-p-1rem w-100 d-flex justify-content-between"
    >
      <h3 class="text-light my-0">Cursos Inscrito</h3>
      <mat-form-field>
        <mat-label class="text-light">Buscar</mat-label>
        <input
          type="text"
          class="form-control bg-light"
          (keyup)="filter($event)"
          matInput
        />
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" class="w-100">
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef class="text-center">Título</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          {{ element.title }}
        </td>
      </ng-container>

      <!-- Students Column -->
      <ng-container matColumnDef="students">
        <th mat-header-cell *matHeaderCellDef class="text-center">Students</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <ng-container
            *ngIf="
              access !== 'admin' && access !== 'profesor';
              else elseListStudentsTemplate
            "
          >
            {{ element.students.length }}
          </ng-container>
          <ng-template #elseListStudentsTemplate>
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item bg-transparent"
                *ngFor="let student of element.students"
              >
                <span *ngIf="student.name">
                  {{ student | nameParser }}
                </span>
              </li>
            </ul>
          </ng-template>
        </td>
      </ng-container>

      <!-- Profesor Column -->
      <ng-container matColumnDef="profesor">
        <th mat-header-cell *matHeaderCellDef class="text-center">Profesor</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <span *ngIf="element.profesor && element.profesor.name">
            {{ element.profesor.name }}
          </span>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-center">Acciones</th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <a
            href="/course/id/{{ element.id }}"
            [routerLink]="['/course/id/' + element.id]"
            mat-icon-button
          >
            <mat-icon>preview</mat-icon>
          </a>
          <ng-container
            *ngIf="!hasItStudent(user, element); else elseInscriptionTemplate"
          >
            <button mat-icon-button (click)="addStudent(element)">
              <mat-icon>person_add</mat-icon>
            </button>
          </ng-container>
          <ng-template #elseInscriptionTemplate>
            <button mat-icon-button (click)="removeStudent(element)">
              <mat-icon>person_remove</mat-icon>
            </button>
          </ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
    <div
      class="bef bef-bg-mystic bef-p-1rem bef-h-2rem w-100 d-flex justify-content-between"
    ></div>
  </ng-container>

  <ng-container *ngIf="!allCoursesHasIt()">
    <h4 class="text-center my-3">Inscribirse a un curso nuevo</h4>
    <div class="btn-group d-block mx-auto bef-w-250px" dropdown>
      <button
        id="button-basic"
        dropdownToggle
        type="button"
        class="btn bef bef-btn-mystic text-light dropdown-toggle d-block mx-auto bef-w-250px"
        aria-controls="dropdown-basic"
      >
        Selecciona el curso <span class="caret"></span>
      </button>
      <ul
        id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu w-100 p-0"
        role="menu"
        aria-labelledby="button-basic"
      >
        <ng-container *ngFor="let course of courses">
          <li *ngIf="!hasItStudent(user, course)" role="menuitem">
            <button
              class="btn btn-light w-100 text-dark"
              (click)="addStudent(course)"
            >
              {{ course.title }}
            </button>
          </li>
        </ng-container>
      </ul>
    </div>
  </ng-container>
  <button
    class="btn bef bef-btn-mystic bef-text-lavender mx-auto d-block my-3"
    (click)="changeEditOption()"
  >
    Editar
  </button>
</ng-container>

<ng-template #elseUserExistTemplate>
  <h2 class="text-center my-3" appTitles20>
    {{ user.id < 0 ? "Creación" : "Edición" }}
    de usuario
  </h2>
  <form
    [formGroup]="editUserForm"
    class="d-block w-50 bef bef-pb-4rem bef-pt-1rem mx-auto"
    (ngSubmit)="submit()"
  >
    <!-- Name -->
    <div class="my-3">
      <label class="h4">Nombre</label>
      <input
        class="form-control bg-transparent"
        type="text"
        formControlName="name"
        required
      />
      <p
        class="bef bef-text-blood fw-bold"
        *ngIf="editUserForm.get('name')?.touched && editUserForm.get('name')?.errors?.['required']"
        [exist]="editUserForm.get('name')?.errors?.['required']"
        (ngInit)="cssCreate()"
      >
        (El nombre no puede quedar vacío)
      </p>
    </div>
    <!-- Surname -->
    <div class="my-3">
      <label class="h4">Apellido</label>
      <input
        class="form-control bg-transparent"
        type="text"
        formControlName="surname"
        required
      />
      <p
        class="bef bef-text-blood fw-bold"
        *ngIf="editUserForm.get('surname')?.touched && editUserForm.get('surname')?.errors?.['required']"
        [exist]="editUserForm.get('surname')?.errors?.['required']"
        (ngInit)="cssCreate()"
      >
        (El apellido no puede quedar vacío)
      </p>
    </div>
    <!-- Email -->
    <div class="my-3">
      <label class="h4">Email</label>
      <input
        class="form-control bg-transparent"
        type="email"
        formControlName="email"
        required
      />
      <p
        class="bef bef-text-blood fw-bold"
        *ngIf="editUserForm.get('email')?.touched && editUserForm.get('email')?.errors?.['required']"
        [exist]="editUserForm.get('email')?.errors?.['required']"
        (ngInit)="cssCreate()"
      >
        (El email no puede quedar vacío)
      </p>
      <p
        class="bef bef-text-blood fw-bold"
        *ngIf="editUserForm.get('email')?.touched && editUserForm.get('email')?.errors?.['minlength']"
        [exist]="editUserForm.get('email')?.errors?.['minlength']"
        (ngInit)="cssCreate()"
      >
        (Debe tener como mínimo 7 caracteres)
      </p>
    </div>
    <!-- Password -->
    <div class="my-3">
      <label class="h4">Password</label>
      <input
        class="form-control bg-transparent"
        type="password"
        formControlName="password"
        required
      />
      <p
        class="bef bef-text-blood fw-bold"
        *ngIf="editUserForm.get('password')?.touched && editUserForm.get('password')?.errors?.['required']"
        [exist]="editUserForm.get('password')?.errors?.['required']"
        (ngInit)="cssCreate()"
      >
        (La contraseña no puede quedar vacía)
      </p>
      <p
        class="bef bef-text-blood fw-bold"
        *ngIf="editUserForm.get('password')?.touched && editUserForm.get('password')?.errors?.['maxlength']"
        [exist]="editUserForm.get('password')?.errors?.['maxlength']"
        (ngInit)="cssCreate()"
      >
        (Debe tener como máximo 64 caracteres)
      </p>
      <p
        class="bef bef-text-blood fw-bold"
        *ngIf="editUserForm.get('password')?.touched && editUserForm.get('password')?.errors?.['minlength']"
        [exist]="editUserForm.get('password')?.errors?.['minlength']"
        (ngInit)="cssCreate()"
      >
        (Debe tener como mínimo 4 caracteres)
      </p>
    </div>
    <!-- Role -->
    <div class="my-3" *ngIf="access === 'admin'">
      <label class="h4">Rol</label>
      <select
        class="form-select"
        formControlName="role"
        aria-label="Role select"
      >
        <option
          *ngFor="let role of roleOptions"
          [ngValue]="role"
          value="{{ role }}"
        >
          {{ role }}
        </option>
      </select>
    </div>
    <!-- Send -->
    <button
      type="submit"
      class="btn bef bef-btn-mystic bef-text-lavender mx-auto d-block my-3"
    >
      Enviar
    </button>
    <button
      class="btn bef bef-btn-mystic bef-text-lavender mx-auto d-block my-3"
      (click)="changeEditOption()"
    >
      Cancelar edición
    </button>
  </form>
</ng-template>
