<header class="position-fixed top-0 w-100">
  <nav class="navbar navbar-expand-lg navbar-dark bef bef-bg-mystic">
    <div class="container-fluid">
      <a
        class="navbar-brand bef bef-text-lavender bef bef-w-50per bef-w-sm-33per bef-w-md-33per text-wrap order-0"
        href="#"
        appTitles20
        >{{ title }}</a
      >
      <ng-container *ngIf="identity$ | async as identity">
        <p
          class="bef bef-text-lavender my-0 order-2 order-sm-1 col-11 col-sm-2 text-end"
          [exist]="!!identity"
          (ngInit)="cssCreate()"
        >
          {{ identity | nameParser }}
        </p>
      </ng-container>
      <h2
        appTitles20
        class="mx-4 bef bef-text-lavender order-3 order-sm-2 text-center col-11 col-sm-3"
      >
        {{ ComponentRoot }}
      </h2>
      <button
        class="btn bef bef-btnOutline-lavender bef-textHover-mystic order-1 order-sm-3 order-md-2"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasAside"
        aria-controls="offcanvasAside"
      >
        Menú
      </button>
    </div>
  </nav>
</header>
<aside
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasAside"
  aria-labelledby="offcanvasAsideLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasAsideLabel" appTitles20>Menú</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div
    class="offcanvas-body d-flex flex-column justify-content-between align-items-center"
  >
    <ul class="list-group list-group-flush w-100">
      <li class="list-group-item">
        <a
          href="/home"
          [routerLink]="['/home']"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
          >Inicio</a
        >
      </li>
      <ng-container *ngIf="identity$ | async as identity">
        <li class="list-group-item">
          <a
            href="/user/id/{{ identity.id }}"
            [routerLink]="['/user/id', identity.id]"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          >
            Perfil
          </a>
        </li>
        <li
          class="list-group-item"
          *ngIf="access === 'admin'"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          <a
            href="/user/list"
            [routerLink]="['/user/list']"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
            >Usuarios</a
          >
        </li>
      </ng-container>

      <li
        class="list-group-item"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      >
        <a
          href="/couse/list"
          [routerLink]="['/course/list']"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
          >Cursos</a
        >
      </li>
      <li class="list-group-item">
        <a
          href="/user/login"
          [routerLink]="['/auth/login']"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          <ng-container *ngIf="identity$ | async; else elseLogInTemplate">
            Cambiar de cuenta
          </ng-container>
          <ng-template #elseLogInTemplate> Iniciar Sesión </ng-template>
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="/user/register"
          [routerLink]="['/auth/register']"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          Registro
        </a>
      </li>
    </ul>
    <button
      id="logOutBTN"
      class="btn bef bef-btn-mystic bef-text-lavender mb-3"
      *ngIf="identity$ | async"
      (click)="logOut()"
    >
      Logout
    </button>
  </div>
</aside>
<body class="bef bef-pt-12rem bef-pt-sm-8rem bef-pt-lg-5rem bef-pb-5rem bef-bg-lavender__OPA__0_125 bef-hmn-100vh">
  <router-outlet
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
  ></router-outlet>
</body>
<footer class="d-flex position-fixed bottom-0 w-100 bef bef-bg-mystic p-3">
  <p class="bef bef-text-lavender text-center">
    Hola, soy el footer. 🐱‍👤🐱‍💻🐱‍🐉🐱‍🏍🐱‍👓🐱‍🚀
  </p>
</footer>
