<h2 class="my-5 text-center" appTitles20>Usuarios</h2>
<div class="bef bef-bg-mystic bef-p-1rem w-100 d-flex justify-content-between">
  <h3 class="text-light my-0">Usuarios</h3>
  <mat-form-field>
    <mat-label class="text-light">Buscar</mat-label>
    <input
      type="text"
      class="form-control bg-light"
      (keyup)="filter($event)"
      matInput
    />
  </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource" class="w-100">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="text-center">Nombre</th>
    <td mat-cell *matCellDef="let element" class="text-center">
      {{ element | nameParser }}
    </td>
  </ng-container>

  <!-- Role Column -->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef class="text-center">Role</th>
    <td mat-cell *matCellDef="let element" class="text-center">
      {{ element.role !== "admin" ? element.role : "user" }}
    </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="text-center">Acciones</th>
    <td mat-cell *matCellDef="let element" class="text-center">
      <button mat-icon-button (click)="openModal(templateActionEdit, element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="delete(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>

<a
  class="d-block btn bef bef-btnOutline-mystic my-3 mx-auto bef-textHover-lavender bef-w-12rem"
  href="/register"
  [routerLink]="['/register']"
  data-bs-dismiss="offcanvas"
  aria-label="Close"
  *ngIf="identity && identity.role && identity.role === 'admin'"
  [exist]="identity && identity.role && identity.role === 'admin'"
  (ngInit)="cssCreate()"
>
  Crear nuevo usuario
</a>

<ng-template #templateActionEdit>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      Editando a {{ editUserForm.get("name")?.value }}
    </h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide(); clearForm()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
      [formGroup]="editUserForm"
      class="d-block w-50 bef bef-pb-4rem bef-pt-1rem mx-auto"
      (ngSubmit)="edit()"
    >
      <!-- Name -->
      <div class="my-3">
        <label class="h4">Nombre</label>
        <input
          class="form-control bg-transparent"
          type="text"
          formControlName="name"
          required
        />
        <p
          class="bef bef-text-blood fw-bold"
          *ngIf="editUserForm.get('name')?.touched && editUserForm.get('name')?.errors?.['required']"
          [exist]="editUserForm.get('name')?.errors?.['required']"
          (ngInit)="cssCreate()"
        >
          (El nombre no puede quedar vacío)
        </p>
      </div>
      <!-- Email -->
      <div class="my-3">
        <label class="h4">Email</label>
        <input
          class="form-control bg-transparent"
          type="email"
          formControlName="email"
          required
        />
        <p
          class="bef bef-text-blood fw-bold"
          *ngIf="editUserForm.get('email')?.touched && editUserForm.get('email')?.errors?.['required']"
          [exist]="editUserForm.get('email')?.errors?.['required']"
          (ngInit)="cssCreate()"
        >
          (El email no puede quedar vacío)
        </p>
        <p
          class="bef bef-text-blood fw-bold"
          *ngIf="editUserForm.get('email')?.touched && editUserForm.get('email')?.errors?.['minlength']"
          [exist]="editUserForm.get('email')?.errors?.['minlength']"
          (ngInit)="cssCreate()"
        >
          (Debe tener como mínimo 7 caracteres)
        </p>
      </div>
      <!-- Password -->
      <div
        class="my-3"
        *ngIf="
          identity &&
          ((identity.email &&
            identity.email === editUserForm.get('password')?.value) ||
            (identity.role && identity.role === 'admin'))
        "
      >
        <label class="h4">Password</label>
        <input
          class="form-control bg-transparent"
          type="password"
          formControlName="password"
          required
        />
        <p
          class="bef bef-text-blood fw-bold"
          *ngIf="editUserForm.get('password')?.touched && editUserForm.get('password')?.errors?.['required']"
          [exist]="editUserForm.get('password')?.errors?.['required']"
          (ngInit)="cssCreate()"
        >
          (La contraseña no puede quedar vacía)
        </p>
        <p
          class="bef bef-text-blood fw-bold"
          *ngIf="editUserForm.get('password')?.touched && editUserForm.get('password')?.errors?.['maxlength']"
          [exist]="editUserForm.get('password')?.errors?.['maxlength']"
          (ngInit)="cssCreate()"
        >
          (Debe tener como máximo 64 caracteres)
        </p>
        <p
          class="bef bef-text-blood fw-bold"
          *ngIf="editUserForm.get('password')?.touched && editUserForm.get('password')?.errors?.['minlength']"
          [exist]="editUserForm.get('password')?.errors?.['minlength']"
          (ngInit)="cssCreate()"
        >
          (Debe tener como mínimo 4 caracteres)
        </p>
      </div>
      <!-- Role -->
      <div
        class="my-3"
        *ngIf="identity && identity.role && identity.role === 'admin'"
      >
        <label class="h4">Rol</label>
        <select
          class="form-select"
          formControlName="role"
          aria-label="Role select"
        >
          <option
            *ngFor="let role of roleOptions"
            [ngValue]="role"
            value="{{ role }}"
          >
            {{ role }}
          </option>
        </select>
      </div>
      <!-- Send -->
      <button
        type="submit"
        class="btn bef bef-btn-mystic bef-text-lavender mx-auto d-block my-3"
      >
        Enviar
      </button>
    </form>
  </div>
</ng-template>
